.post-card {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.post-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); // O una imagen por defecto
  background-size: cover;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.post-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 16px;
}

.post-content {
  font-size: 1rem;
  line-height: 1.5;
  margin: 16px 0;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}

mat-card-actions button {
  margin-right: 8px;
  color: #ffffff;
}

.like-button {
  background-color: #e53935; // Rojo intenso para likes
}

.view-button {
  background-color: #1e88e5; // Azul para views
}

.mat-icon {
  margin-left: 5px;
}

.comment-card {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.comments-container {
  margin: 16px;
}

.comment-item {
  margin-top: 10px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); // O una imagen por defecto
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .post-card {
    padding: 12px;
  }

  .post-header-image {
    width: 40px;
    height: 40px;
  }

  .post-content {
    font-size: 0.9rem;
  }

  .comment-card {
    padding: 12px;
  }

  mat-form-field {
    margin-bottom: 12px;
  }

  .comment-item {
    padding: 12px;
  }
}
