<div *ngIf="posts$ | async as posts; else loading">
  <ng-container *ngFor="let item of posts">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>Posted by: {{ item.author }} | Posted on:
          {{ item.date | date:'medium' }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-grid-list cols="5">
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <img mat-card-image [src]="item.image" class="post-image" alt="Card Image" />
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>{{ item.content | truncate:200 }}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" class="like-button">{{ item.likeCount }} <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="view-button">{{ item.viewCount }}
          <mat-icon>remove_red_eye</mat-icon></button>
        <button mat-raised-button color="primary" class="view-post-button" routerLink="/view-post/{{ item.id }}">View
          Post</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

<ng-template #loading>
  <p>Loading posts...</p>
</ng-template>
