<header>
  <mat-toolbar color="primary">
    <!-- Menu Button (visible on mobile) -->
    <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Blog Title -->
    <span class="title">
      <a routerLink="/" class="title-link">OnePostD<b>AI</b>ly Blog</a>
    </span>

  </mat-toolbar>

  <!-- Side Navigation Menu for Mobile -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" position="start" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/create-post">Create New Post</a>
        <a mat-list-item routerLink="/view-all">View All Posts</a>
        <a mat-list-item routerLink="/search-post">Search Post</a>
        <mat-form-field appearance="outline" class="search-input">
          <mat-label>Search</mat-label>
          <input matInput [(ngModel)]="searchTitle" (keyup.enter)="searchPostByTitle()" required minlength="2" />
          <mat-error *ngIf="searchTitle.length < 2">Please enter at least 2 characters</mat-error>
          <button mat-icon-button matSuffix (click)="searchPostByTitle()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>
